.nav_menu {
  height: 100%;
  flex-basis: 50%;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 700;
  padding-right: 20px;
  display: flex;
  align-items: center;
  user-select: none;
  z-index: 6;
}

.nav_menu__menu {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav_menu__menu--side {
  list-style: none;
}

.nav_menu__menu-dropmenu {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.nav_menu__menu-item {
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.nav_menu__menu-item .nav_menu-link {
  min-width: 100px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-decoration: none;
}

.nav_menu__menu-item:hover > .nav_menu-link,
.nav_menu__menu-item-dropmenu:hover > .nav_menu-link,
.nav_menu-item-dropmenu:hover > .nav_menu-link,
.nav_menu-item-dropmenu--side:hover > .nav_menu-link {
  color: rgb(192, 42, 230);
}

.nav_menu__menu-item:hover,
.nav_menu-item-dropmenu:hover,
.nav_menu-item-dropmenu--side:hover {
  position: relative;
  background-color: #bfe2ff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(44, 123, 168, 0.6);
}

.nav_menu-dropdown__menu,
.nav_menu-dropdown__menu-disabled {
  display: none;
}

.nav_menu__menu-item:hover .nav_menu-dropdown__menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bfe2ff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(44, 123, 168, 0.6);
  z-index: 6;
}

.nav_menu__menu-item:last-child:hover .nav_menu-dropdown__menu {
  left: 0;
}

.nav_menu__menu-item:hover .nav_menu__menu {
  display: block;
  margin: 10px;
  text-align: center;
}

.nav_menu__menu-item:hover .nav_menu__menu-dropmenu {
  display: block;
  margin: 10px;
  text-align: center;
}

.nav_menu__menu-item:hover .nav_menu__menu-item {
  width: 200px;
  padding: 10px;
}

.nav_menu__menu-item:hover .nav_menu-item-dropmenu {
  width: 220px;
  padding: 10px;
}

.nav_menu__menu-item:hover .nav_menu-item-dropmenu--side {
  width: 200px;
  padding: 10px;
}

.nav_menu-dropdown__menu .fa-caret-right {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.nav_menu-dropdown__menu .fa-caret-left {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
}

.nav_menu-dropdown__menu--side_right,
.nav_menu-dropdown__menu--side_left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(44, 123, 168, 0.6);
}

.nav_menu-item-dropmenu:hover .nav_menu-dropdown__menu--side_right,
.nav_menu-item-dropmenu:hover .nav_menu-dropdown__menu--side_left {
  display: block;
  position: absolute;
  top: 0%;
  left: 95%;
  background-color: #bfe2ff;
  padding: 10px;
}

.nav_menu-item-dropmenu:hover .nav_menu-dropdown__menu--side_left {
  left: -105%;
}

.nav_menu-link {
  display: block;
}

/* Ogólne style dla side-menu (domyślnie ukryte) */
.nav_menu-dropdown__menu--side_left {
  display: none;
  position: absolute;
  top: 0;
  /* left: 0;  To była domyślna pozycja, która jest potem nadpisywana */
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(44, 123, 168, 0.6);
  background-color: #bfe2ff;
  padding: 10px;
  min-width: 200px;
  z-index: 7; /* Upewnij się, że jest nad innymi elementami */
}

/* Styl dla aktywnego side-menu (pojawia się z lewej) */
.nav_menu-item-dropmenu:hover .nav_menu-dropdown__menu--side_left {
  display: block;
  left: -95%; /* Kluczowa zmiana: przesuwamy na lewo */
}

.nav_menu-item-dropmenu {
  position: relative; /* Ważne! */
}

/* Klasa do ukrywania, jeśli nie jest aktywne  */
.nav_menu-dropdown__menu--side_left-disabled {
  display: none;
}
