.update-data {
    flex-grow: 1;
    max-width: 80%;
    min-width: 800px;
    font-family: "Source Sans 3", Calibri, sans-serif;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
}

.update-data__container {
    flex-grow: 1;
    margin: 2px 0;
    border: 1px solid rgba(191, 196, 199, 0.6);
    background-color: rgba(202, 219, 230, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.update-data__container:first-child {
    background-color: rgba(193, 230, 255, 0.3);
    font-weight: bold;
}

.update-data--name,
.update-data--update {
    flex-basis: 35%;
    padding: 0 10px;
}

.update-data--update {
    flex-basis: 30%;
}

.update-data--date,
.update-data--hour {
    flex-basis: 20%;
}

.update-data__container:hover {
    background-color: rgba(193, 230, 255, 0.5);
}

.update-data__container:first-child:hover {
    background-color: rgba(193, 230, 255, 0.3);
}