/* .missing_department {
    width: 100%;
    margin: 4px;
    font-family: "Source Sans 3", Calibri, sans-serif;
    border: 1px solid rgba(191, 196, 199, 0.6);
    border-radius: 5px;
    background-color: #eafff2;
    display: flex;
    justify-content: flex-start;
}

.missing_department__wrapper {
    max-width: 20%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.missing_department__container {
    max-height: 180px;
    overflow: hidden;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.missing_department__company--exist,
.missing_department__company--noexist {
    padding: 5px;
    flex-basis: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.missing_department__company--title {
    flex-basis: 20%;
    min-height: 40px;
    padding: 5px 0;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missing_department__company {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.missing_department__container {
    text-align: center;
} */
