.fk_item_component {
  flex-grow: 1;
  position: relative;
  width: 30%;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.fk_item_component-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fk_item_component--counter {
  position: absolute;
  top: 1%;
  left: 5%;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: rgb(69, 69, 187);
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fk_item_component--title--fa-save,
.fk_item_component--title--fa-plus {
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  cursor: pointer;
}

.fk_item_component--title--fa-plus {
  right: 20%;
}

.fk_item_component--item--fa-save {
  font-size: 1.2rem;
  cursor: pointer;
}

.fk_item_component--title--fa-save:active,
.fk_item_component--title--fa-plus:active,
.fk_item_component--item--fa-save:active {
  color: red;
}

.fk_item_component--title {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(255, 0, 0);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 0;
  user-select: none;
}
.fk_item_component-items__container {
  flex-grow: 1;
  /* overflow-y: auto; */
  margin: 10px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}
.fk_item_component-items__columns {
  min-width: 250px;
  text-align: center;
  padding: 5px;
  margin: 2px 10px 5px 2px;
  border: 1px solid black;
  display: flex;
}
.fk_item_component-items__columns--counter {
  margin: 0 5px;
  flex-basis: 10%;
}

.fk_item_component-items__columns--item {
  margin: 0 auto;
  cursor: pointer;
}

.fk_item_component--fa-pen-to-square,
.fk_item_component--fa-trash-can,
.fk_item_component--fa-xmark,
.fk_item_component--fa-check {
  font-size: 1.2rem;
  margin: 0 5px;
  color: rgb(92, 133, 32);
  flex-basis: 10%;
  cursor: pointer;
}

.fk_item_component--fa-trash-can,
.fk_item_component--fa-check {
  color: blueviolet;
}

.fk_item_component--fa-pen-to-square:active,
.fk_item_component--fa-trash-can:active,
.fk_item_component--fa-xmark:active,
.fk_item_component--fa-check:active {
  color: red;
}

.fk_item_component--edit {
  border: none;
  background-color: antiquewhite;
  text-align: center;
  color: blue;
  font-size: 1.1rem;
}

.fk_item_component-title__container-add {
  width: 90%;
  border: 1px solid black;
  margin-top: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.fk_item_component-title__container-add--edit {
  flex-grow: 1;
  font-size: 1.1rem;
  padding: 5px;
  margin: 0px 10px;
  border: none;
  background-color: antiquewhite;
  text-align: center;
}

.fk_item_component-title__container-add--panel {
  width: 20%;
  display: flex;
}
