.fk_item_component {
  flex-grow: 1;
  position: relative;
  width: 30%;
  min-width: 400px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  background-color: #fff;
  font-family: "Source Sans 3", Calibri, sans-serif;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
}

.fk_item_component-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fk_item_component--counter {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
  /* background-color: #007bff; */
  background-color: #007bff;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fk_item_component--title--fa-save,
.fk_item_component--title--fa-plus {
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  cursor: pointer;
}

.fk_item_component--title--fa-plus {
  right: 20%;
}

.fk_item_component--item--fa-save {
  font-size: 1.2rem;
  cursor: pointer;
}

.fk_item_component--title--fa-save:active,
.fk_item_component--title--fa-plus:active,
.fk_item_component--item--fa-save:active {
  color: red;
}

.fk_item_component--title {
  /* text-align: center; */
  font-size: 1.3rem;
  color: rgb(255, 0, 0);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
  user-select: none;
}

.fk_item_component-items__container {
  flex-grow: 1;
  margin: 10px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.fk_item_component-items__columns {
  min-width: 250px;
  text-align: center;
  padding: 5px;
  margin: 2px 10px 5px 2px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.fk_item_component-items__columns--counter {
  margin: 0 5px;
  flex-basis: 10%;
  font-size: 1.2rem;
}

.fk_item_component-items__columns--item {
  font-size: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
}

.fk_item_component--fa-pen-to-square,
.fk_item_component--fa-trash-can,
.fk_item_component--fa-xmark,
.fk_item_component--fa-check {
  font-size: 1.2rem;
  margin: 0 5px;
  color: rgb(92, 133, 32);
  flex-basis: 10%;
  cursor: pointer;
}

.fk_item_component--fa-trash-can,
.fk_item_component--fa-check {
  color: blueviolet;
}

.fk_item_component--fa-pen-to-square:active,
.fk_item_component--fa-trash-can:active,
.fk_item_component--fa-xmark:active,
.fk_item_component--fa-check:active {
  color: red;
}

.fk_item_component--edit {
  flex-grow: 1;
  /* border: none; */
  /* background-color: antiquewhite; */
  padding: 5px 0;
  text-align: center;
  color: blue;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
}

.fk_item_component-title__container-add {
  width: 100%;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.fk_item_component-title__container-add--edit {
  flex-grow: 1;
  font-size: 1.1rem;
  padding: 5px;
  margin: 0px 10px;
  border: none;
  outline: none;
  text-align: center;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
}


.fk_item_component-title__container-add--panel {
  width: 20%;
  display: flex;
  justify-content: space-around;
}