.fk_localization {
  position: relative;
  /* width: 20%; */
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.fk_localization-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fk_localization--counter {
  position: absolute;
  left: 5%;
  font-size: 1.2rem;
}

.fk_localization--title--fa-save,
.fk_localization--title--fa-plus {
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  cursor: pointer;
}

.fk_localization--title--fa-plus {
  right: 20%;
}

.fk_localization--title--fa-save:active,
.fk_localization--title--fa-plus:active {
  color: red;
}

.fk_localization--title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 0;
  user-select: none;
}
.fk_localization-items__container {
  flex-grow: 1;
  overflow-y: auto;
  margin: 10px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}
.fk_localization-items__columns {
  min-width: 250px;
  text-align: center;
  padding: 5px;
  margin: 2px 10px 5px 2px;
  border: 1px solid black;
  display: flex;
}
.fk_localization-items__columns--counter {
  margin: 0 5px;
  flex-basis: 10%;
}

.fk_localization-items__columns--dep {
  margin: 0 auto;
  cursor: pointer;
}

.fk_localization--fa-pen-to-square,
.fk_localization--fa-trash-can,
.fk_localization--fa-xmark,
.fk_localization--fa-check {
  font-size: 1.2rem;
  margin: 0 5px;
  color: rgb(92, 133, 32);
  flex-basis: 10%;
}

.fk_localization--fa-trash-can,
.fk_localization--fa-check {
  color: blueviolet;
}

.fk_localization--fa-pen-to-square:active,
.fk_localization--fa-trash-can:active,
.fk_localization--fa-xmark:active,
.fk_localization--fa-check:active {
  color: red;
}

.fk_localization--edit {
  /* width: 7em; */
  border: none;
  background-color: antiquewhite;
  text-align: center;
  color: blue;
  font-size: 1.1rem;
}

.fk_localization-title__container-add {
  border: 1px solid black;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.fk_localization-title__container-add--edit {
  /* max-width: 80%; */
  /* font-size: 1.1rem; */
  flex-grow: 1;
  padding: 5px;
  margin: 0px 4px;
  border: none;
  background-color: antiquewhite;
  text-align: center;
}

.fk_localization-title__container-add--panel {
  width: 20%;
  display: flex;
}
