.fk_settings {
    font-family: Calibri, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fk_settings-create {
    flex-grow: 1;
    display: flex;
}

.fk_settings-control,
.fk_settings-business {
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px;
}

.fk_settings-generate {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 
.fk_settings-w201 {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
} */