.user-change-roles {
  /* flex-grow: 1; */
  min-height: 50%;
  width: 100%;
  margin: 2px 0;
  padding: 5px 10px;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* lepsze dopasowanie */
  max-height: 100%; /* kluczowy limit */
  overflow: hidden; /* ukrycie wychodzących elementów */
}

.user-change-roles__title {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.user-change-roles__wrapper {
  flex: 1;
  overflow-y: auto; /* ✅ pojawi się pionowy scroll */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 5px; /* żeby nie zasłaniał scrollbar */
}

/* Wąski, estetyczny scrollbar */
.user-change-roles__wrapper::-webkit-scrollbar {
  width: 6px;
}

.user-change-roles__wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 92, 145, 0.4);
  border-radius: 4px;
}

.user-change-roles__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-change-roles__container--info {
  padding: 5px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-change-roles__container--text {
  user-select: none;
}

.user-change-roles--check {
  width: 1rem;
  height: 1rem;
}

.user-change-roles Button {
  width: 30%;
  margin: 8px auto;
  flex-shrink: 0;
}
