.add_doc {
  flex-grow: 1;
  width: 100%;
  max-height: calc(100vh - 50px);
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  /* margin: 2px; */
  /* padding: 20px; */
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add_doc__container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.add_doc__container h2 {
  text-align: center;
}

.add_doc__wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
}
.add_doc-data {
  margin: 0 5px;
  width: 30%;
  min-width: 400px;
  display: flex;
}

.add_doc__form {
  flex-grow: 1;
  /* flex-basis: 30%; */
  min-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add_doc__section {
  padding: 15px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.add_doc__section h3 {
  margin: 0 0 10px 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

input {
  padding: 6px 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.add_doc__submit {
  padding: 10px 15px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add_doc__submit:hover {
  background: #115399;
}

.add_doc__accept-panel {
  padding: 10px 0;
}
