.add_doc {
  flex-grow: 1;
  width: 100%;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.add_doc h2 {
  text-align: center;
}

.add_doc__form {
  flex-grow: 1;
  min-width: 1000px;
  display: flex;
}

.add_doc-data {
  flex-basis: 34%;
  min-width: 400px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.add_doc__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add_doc__container label {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
input {
  padding: 6px 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.add_doc__accept-panel {
  height: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_doc__container {
  height: calc(100vh - 200px);
  /* height: 35vh; */
  overflow: auto;
}

.add_doc__container-contact {
  max-height: calc(30vh);
  width: 100%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  /* justify-content: space-between; */
  overflow: auto;

  /* flex-direction: column; */
}

.add_doc-contact {
  height: 40px;
  width: 80%;
  margin: 5px;
}

.add_doc-code-city {
  display: flex;
  justify-content: space-between;
}

.add_doc input {
  /* flex-basis: 80%; */
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1rem;
}
.add_doc-code-city label {
  width: 100%;
  display: flex;
  padding: 5px;
}
