.chat_law_partner {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .chat_law_partner--title {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 2px 0;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  background-color: rgb(166, 255, 131);
} */

.chat_law_partner--notes {
  flex-grow: 1;
  max-height: 40vh;
  width: 100%;
  margin: 4px 2px;
  padding: 2px;
  flex-basis: 50%;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  overflow: auto;
}

.chat_law_partner__container {
  margin: 4px 0;
  overflow-wrap: break-word;
}

.chat_law_partner--username {
  /* font-weight: bold; */
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

/* --- NOWY CSS DLA PORTALU --- */

.portal-tooltip {
  position: fixed; /* Względem okna przeglądarki */
  z-index: 99999; /* Na samym wierzchu */
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  max-width: 400px;
  font-size: 1rem;
  font-weight: 300;
  pointer-events: none; /* Mysz ignoruje dymek (brak migotania) */
  white-space: normal;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* === WARIANT GÓRNY (TOP) === */
/* Dymek ma się pojawić NAD punktem (y). Przesuwamy go o -100% w górę + margines */
.portal-tooltip.top {
  transform: translateY(calc(-100% - 5px));
}

/* Strzałka w dół */
.portal-tooltip.top::after {
  content: "";
  position: absolute;
  top: 100%; /* Na dole dymka */
  left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* === WARIANT DOLNY (BOTTOM) === */
/* Dymek ma się pojawić POD punktem (y). Przesuwamy go lekko w dół (margines) */
.portal-tooltip.bottom {
  transform: translateY(5px);
}

/* Strzałka w górę */
.portal-tooltip.bottom::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Na górze dymka */
  left: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

/* Efekt kliknięcia */
.chat_law_partner--username.clicked {
  animation: clickEffect 0.3s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}

.chat_law_partner--edit {
  width: 100%;
  height: 120px;
  margin: 3px 0 5px 0;
  resize: none;
  padding: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.05rem;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.chat_law_partner--edit:focus {
  outline: 1px solid red;
}

.chat_law_partner__panel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
