.edit_basic_data_pro--select,
.edit_basic_data_pro--input,
.edit_basic_data_pro--date,
.edit_basic_data_pro--textarea {
  margin: 2px;
  border: 1px solid red;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
}

.textarea-wrapper {
  display: flex;
  align-items: center; /* 🔥 pionowe wyśrodkowanie */
  width: 100%;
}

.edit_basic_data_pro--textarea {
  width: 100%;
  min-height: 32px;
  padding: 4px 6px;

  resize: none;
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;

  border-radius: 4px;
}
