.log_and_chat--select {
  width: 95%;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}

.log_and_chat--select:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline: none;
}
