.refer_to_law_firm {
  margin-top: 50px;
  flex-grow: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.refer_to_law_firm--title {
  width: 95%;
  padding: 2px 0;
  margin: 2px 0;
  /* background-color: rgba(229, 202, 255, 0.7); */
  background-color: rgb(106, 59, 150);
  border: none;
  color: rgb(228, 247, 146);
}

.refer_to_law_firm--panel {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refer_to_law_firm--content,
.refer_to_law_firm--content-scroll {
  width: 100%;
  /* word-break: break-all; */
  line-height: 1;
  flex-basis: 59%;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refer_to_law_firm--content-scroll {
  display: block;
  padding: 5px;
  overflow-y: auto;
  max-height: 90px;
}

.refer_to_law_firm--input {
  font-size: 1.1rem;
  font-family: "Source Sans 3", Calibri, sans-serif;
  outline: none;
}
.edit_doc__container-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.refer_to_law_firm__info_panel {
  width: 90%;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.refer_to_law_firm__info_panel--date {
  font-weight: bold;
  color: rgb(255, 0, 0);
}
