.edit_management {
  flex-grow: 1;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
}

.edit_management-date,
.edit_management-note {
  margin: 5px 2px;
  font-size: 1.05rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit_management-date {
  max-height: 35%;
}
.edit_management-note {
  max-height: 60%;
}

.edit_management--title {
  font-size: 1.08rem;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  background-color: rgba(88, 228, 253, 0.4);
}
