.edit_basic_data_pro {
  flex-grow: 1;
  height: calc(100vh - 120px);
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
}

.edit_basic_data_pro--content {
  width: 100%;
  padding: 0 2px;
  margin: 1px 2px;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
._pro--content {
  display: flex;
  flex-direction: column;
}
._pro--content span {
  border: none;
}

.edit_basic_data_pro__settlements {
  flex-grow: 1;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.edit_basic_data_pro__settlements--title {
  text-align: center;
  padding: 2px 0;
}
.edit_basic_data_pro__settlements_container {
  flex-grow: 1;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.edit_basic_data_pro__settlements_container:hover {
  cursor: pointer;
  background-color: rgba(202, 202, 202, 0.7);
  border-radius: 5px;
}

.edit_basic_data_pro--contact {
  display: flex;
  flex-direction: column;
}

.edit_basic_data_pro--contact span {
  margin: 2px 0;
}
