.edit_doc_becared-section-data {
    flex-basis: 34%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.edit_doc_becared-section-data-becared {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.edit_doc_becared-section-data-becared--title {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgb(135, 207, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px #757575;
}

.edit_doc_becared-section-data-becared--content {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #757575;
}