.edit-row-table {
  flex-grow: 1;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  /* overflow: auto; */
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table__container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-row-table__panel {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.edit-row-table--bloc-tabs {
  flex-basis: 50%;

  display: flex;
  justify-content: space-evenly;
}

.edit_row_table-buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}

.tabs {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
  background-color: #c2c2c2;
  cursor: pointer;
  border-bottom: 10px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(106, 104, 104, 0.274);
}

.active-tabs {
  background: rgb(188, 201, 255);
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}

.edit-row-table--bloc-tabs button {
  border: none;
  padding: 10px 0;
  margin: 0px 20px;
}

.content-tabs {
  flex-grow: 1;
  display: flex;
}

.content {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.active-content {
  /* display: block; */
  display: flex;
}

.edit-row-table_section-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.edit-row-table_section-content-data {
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2px;
  max-height: calc(100vh - 100px);
}

/* .edit_row_table {
  flex-grow: 1;
  font-family: Calibri, sans-serif;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.edit_row_table__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit_row_table-section-content {
  display: flex;
  justify-content: center;
}

.edit_row_table-section-data {
  flex-basis: 34%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.edit_row_table-section-data--document {
  display: flex;
  justify-content: space-between;
}

.edit_row_table-section-data--title,
.edit_row_table-section-data--content,
.edit_row_table-section-data--document--input {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 49%;
  margin: 1px;
  padding: 1px 5px;
  background-color: rgba(135, 207, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.edit_row_table-section-data--content {
  background-color: #fff;
}

.edit_row_table-section-data--document--input {
  max-width: 49%;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  font-family: Calibri, sans-serif;
  background-color: rgba(223, 222, 222, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.edit_row_table-section-data--document span:last-child {
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.edit_row_table-panel {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.edit_row_table-section-data__chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit_row_table-section-data__chat-title {
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  background-color: rgba(58, 247, 58, 0.2);
}

.edit_row_table-section-data__chat-content,
.edit_row_table-section-data__chat-edit {
  width: 100%;
  height: 200px;
  max-height: 200px;
  resize: none;
  font-size: 1.2rem;
  padding: 10px;
  font-family: Calibri, sans-serif;
  margin: 5px 0;

  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.edit_row_table-section-data__chat-edit {
  height: 80px;
  margin-top: 5px;
  resize: none;
  margin-bottom: 10px;
  font-family: Calibri, sans-serif;
  font-size: 1.1rem;
}

.edit_row_table-section-data__panel {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
  .edit_row_table-section-content {
    flex-direction: column;
  }

  .edit_row_table-panel {
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
  }
} */
