.edit_doc_actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.edit_doc_actions__container {
  flex-grow: 1;
  display: flex;
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
}

.edit_doc_actions__container--title {
  flex-basis: 50%;
  text-align: left;
  padding: 2px;
  margin: 2px;
  background-color: rgba(135, 207, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.edit_doc_actions__container--select {
  width: 100%;
  flex-basis: 50%;
  font-family: Calibri, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.edit_doc_actions--button {
  margin-top: 10px;
}

.edit_doc_actions--button Button {
  width: 100%;
  background-color: rgba(58, 247, 58, 0.2);
  color: black;
}
