@font-face {
    font-family: Calibri;
    src: url('./font/Calibri.ttf') format('truetype');
}

.edit_doc_becared-section-data {
    flex-basis: 34%;
    padding: 5px;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
}

.edit_doc_becared-section-data-becared {
    display: flex;
    justify-content: baseline;
    /* justify-content: center; */
    /* align-items: center; */
}

.edit_doc_becared-section-data-becared--title {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(135, 207, 255, .2);
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_doc_becared-section-data-becared--content {
    width: 100%;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_doc_becared-section-data-becared--button {
    margin-top: 10px;
}

.edit_doc_becared-section-data-becared--button Button {
    width: 100%;
    background-color: rgba(58, 247, 58, 0.2);
    color: black;
}