.edit_doc_basic-data {
  flex-grow: 1;
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.edit_doc_basic-data__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.edit_doc_basic-data--document {
  display: flex;
  justify-content: space-between;
}
.edit_doc_basic-data--title {
  flex-grow: 0;
  width: 100%;
  flex-basis: 50%;
  text-align: left;
  border: 1px solid black;
  padding: 2px;
  margin: 1px 2px;
  background-color: rgba(135, 207, 255, 0.3);
  display: flex;
  align-items: center;
}

.edit_doc_basic-data--content {
  width: 100%;
  max-height: 70px;
  flex-basis: 50%;
  text-align: center;
  border: 1px solid black;
  padding: 2px;
  margin: 1px 2px;
}

.edit_doc_basic-data--document--input {
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  flex-basis: 50%;
  margin: 1px 2px;
  padding: 1px 5px;
  font-size: 1.2rem;
  max-width: 50%;
  text-align: center;
  border: 1px solid black;
  font-size: 1.2rem;
  font-family: Calibri, sans-serif;
  background-color: rgba(223, 222, 222, 0.8);
  display: flex;
  align-items: center;
}
