.edit_doc_becared {
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.edit_doc_becared__container {
  flex-grow: 1;
  display: flex;
}

.edit_doc_becared__container--title {
  width: 100%;
  flex-basis: 50%;
  text-align: left;
  padding: 2px;
  margin: 1px;
  background-color: rgba(135, 207, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.edit_doc_becared__container--content {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px;
  margin: 1px;
  font-size: 1.1rem;
  flex-basis: 50%;
  max-height: 100px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
}

.edit_doc_becared-becared--button {
  margin-top: 10px;
}

.edit_doc_becared-becared--button Button {
  width: 100%;
  background-color: rgba(58, 247, 58, 0.2);
  color: black;
}
