.edit_doc_basic-data {
  flex-grow: 1;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.15rem;
  font-optical-sizing: auto;
  font-style: 700;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.edit_doc_basic-data__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit_doc_basic-data--document {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit_doc_basic-data--title {
  flex-shrink: 0;
  width: 100%;
  flex-basis: 40%;
  text-align: left;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  /* background-color: rgba(191, 196, 199, 0.2); */
  background-color: rgba(220, 241, 253, 0.2);
  /* background-color: rgba(241, 243, 245, .2); */
  display: flex;
  align-items: center;
  cursor: help;
}

.edit_doc_basic-data--content,
.edit_doc_basic-data--content-scroll {
  width: 100%;
  line-height: 1;
  flex-basis: 59%;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  text-wrap: wrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_doc_basic-data--content-scroll {
  display: block;
  padding: 5px;
  overflow-y: auto;
  max-height: 90px;
}

.edit_doc_basic-data--document--input {
  width: 100%;
  flex-basis: 59%;
  margin: 1px 2px;
  padding: 1px 5px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid rgba(191, 196, 199, 0.6);
  border-radius: 5px;
  font-size: 1.15rem;
  color: rgb(45, 110, 28);
  font-family: "Source Sans 3", Calibri, sans-serif;
  background-color: rgba(223, 222, 222, 0.8);
  display: flex;
  align-items: center;
}