@font-face {
    font-family: Calibri;
    src: url('./font/Calibri.ttf') format('truetype');
}

.edit_doc_action-section-data {
    flex-basis: 34%;
    padding: 5px;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
}

.edit_doc_action-section-data-law,
.edit_doc_action-section-data-actions {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.edit_doc_action-section-data-law--title,
.edit_doc_action-section-data-actions--title {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(135, 207, 255, .2);
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
}

.edit_doc_action-section-data-law--select,
.edit_doc_action-section-data-actions--select {
    width: 100%;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    margin: 5px;
    /* border-radius: 10px;
    box-shadow: 2px 2px 2px #757575; */
}

.edit_doc_action-section-data-actions--check {
    width: 100%;
    margin: 0 auto;
    height: 1.5rem;
    padding: 5px;
    margin: 5px;
}

.edit_doc_action-section-data-becared--button {
    margin-top: 10px;
}

.edit_doc_action-section-data-becared--button Button {
    width: 100%;
    background-color: rgba(58, 247, 58, 0.2);
    color: black;
}