.fk_raport {
    font-family: Calibri, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fk_raport-title {
    border: 1px solid black;
    display: flex;
    align-items: center;
    user-select: none;
}

.fk_raport-title label {
    min-width: 100px;
    font-size: 1.2rem;
    height: 100%;
    flex-basis: 15%;
    text-align: center;
    padding: 3px;
    background-color: #e6e6e6;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}




.fk_raport-title .fk_raport-title--percent--header {
    border-right: none;
}


.fk_raport-title .fk_raport-title--business--header {
    min-width: 500px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}










/* .fk_raport-title,
.fk_raport-business {
    display: flex;
   
    align-items: center;
    user-select: none;
}

.fk_raport-title label,
.fk_raport-business label {
    height: 100%;
    flex-basis: 25%;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    background-color: #ddd;
}

.fk_raport-title--business,
.fk_raport-title--business--header,
.fk_raport-business--select {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.fk_raport-title--business--header {
    justify-content: center;
    font-size: 1.2rem;
    border: 1px solid black;
}

.fk_raport-business .fk_raport-business--select {
    padding-left: 20px;
    text-align: left;
    user-select: none;
}

.fk_raport-business--select,
.fk_raport-title--doc-counter {
    cursor: pointer;
}

.fk_raport-business--select:hover,
.fk_raport-title--doc-counter:hover,
.fk_raport-w201:hover {
    background-color: #a7e3ff;
}

.fk_raport-business--arrow {
    margin-right: 10px;
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
}

.fk_raport-business label {
    background-color: #a7f2ff;
}

.fk_raport-w201,
.fk_raport-w203,
.fk_raport-w201--arrow {
    display: flex;
    align-items: center;
}



.fk_raport-w201 label {
    height: 100%;
    flex-basis: 25%;
    border-left: 1px solid black;

    text-align: center;
    padding: 3px;
    background-color: rgba(248, 255, 228, .5);
    user-select: none;
}



.fk_raport-w201 .fk_raport-w201--arrow {
    flex-grow: 1;
    text-align: left;
    padding-left: 50px;
}

.fk_raport-w201--doc-counter,
.fk_raport-w201--arrow {
    cursor: pointer;
}

.fk_raport-w201--doc-counter:hover,
.fk_raport-w201--arrow:hover {
    background-color: #a7e3ff;
}

.fk_raport-business .fk_raport-business--all {
    background-color: #b1ffa7;
}


.fk_raport-w201--owner label {
    background-color: #ffffff;
}

.fk_raport-w201 .fk_raport-w201--arrow--owner {
    padding-left: 70px;
}

.fk_raport-w201 {
    border-bottom: 1px solid black;
}

.fk_raport-w201--doc-sum {
    border-right: 1px solid black;

} */