.footer {
    text-align: center;
    background-color: rgb(197, 247, 147);
    background-color: rgb(162, 223, 102);
}

@media screen and (max-width: 960px) {


    /* .footer {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;

    } */

    .footer p {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}