.header {
    /* background-color: rgb(162, 223, 102); */
    background-color: #a7d3f7;
    display: flex;
    position: relative;
    z-index: 999;
}

.header-menu {
    display: none;
    height: 50px;
}

@media screen and (max-width: 960px) {
    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        justify-content: end;
    }

    .header-menu {
        margin: 0 20px;
        font-size: 1.9rem;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}