.header {
    background-color: rgb(162, 223, 102);
    /* background-color: #65a0c5; */
    /* background-color: #b2ff9a; */
    display: flex;
    position: relative;
    z-index: 1;
}

.header-menu {
    display: none;
    height: 50px;

}

@media screen and (max-width: 960px) {
    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        justify-content: end;
    }

    .header-menu {
        margin: 0 20px;
        font-size: 1.9rem;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}