/* .header_notification {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: transparent;
} */
.header_notification {
  flex: 0 0 30%; /* Dokładnie 30%, nie rośnie, nie kurczy się */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: transparent;
  border-right: 1px solid #e2e8f0; /* Opcjonalna linia oddzielająca */
}

.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.3rem;
  white-space: nowrap;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 400%;

  /* Najpierw wersja z prefiksem (dla starszych przeglądarek WebKit) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Następnie wersja standardowa (rozwiązuje problem podkreślenia) */
  background-clip: text;

  /* Fallback dla standardowego koloru (opcjonalnie) */
  color: transparent;

  animation: rainbow 6s linear infinite;
}

.loader::before {
  content: "Przygotowuję plik excel ...";
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
