/* .header {
  background-color: #f8fafc;
  display: flex;
  position: relative;
  z-index: 6;
} */

.header {
  position: fixed; /* Header jest teraz bazą dla pozycji */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Stała wysokość */
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  z-index: 9999; /* Wysoki z-index, aby nic nie zasłoniło headera */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.header-menu {
  display: none;
  height: 50px;
}
