.login__fixed {
  flex-grow: 1;
  position: relative;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.login {
  width: 40%;
  min-width: 500px;
  min-height: 40vh;
  margin: 10px;

  padding: 1.2rem;
  color: #000000;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.login__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login__container-title {
  font-size: 0.9rem;
  margin-top: 20px;
}

.login__container-text {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  outline: none;
}

.login Button {
  margin: 10px auto;
}

.login__container-text {
  background-color: #fff !important;
}

.login__container-text:-webkit-autofill {
  appearance: none;
  -webkit-text-fill-color: #000 !important;
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.login__password {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  cursor: pointer;
  color: #a01313;
  user-select: none;
}

.login__password:hover {
  color: rgb(3, 46, 46);
  text-decoration: underline;
}

.login__information {
  text-align: justify;
}

.forgot_password-accept {
  display: flex;
}

.login__high_information {
  min-height: 100px;
  min-width: 1200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.login__high_information h1 {
  color: red;
}
.login__high_information h2 {
  color: red;
}

.login__high_information span {
  font-size: 1.4rem;
}
