.login__fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    width: 40%;
    min-width: 300px;
    margin: auto;
    padding: 1.2rem;
    background-color: #a7d3f7;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 1.7rem;
}

.login__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.login__container-title {
    font-size: 1rem;
    margin-top: 20px;

}

.login__container-text {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    background-color: #fff;
}

.login-error-message {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #fffd7d;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    width: 100%;
    padding: 10px 20px;
}

.login Button {
    width: 50%;
    margin: 10px auto;
}

/* .login__container-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px auto;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: rgb(127, 240, 134);

}

.login__container-button:active {
    background-color: rgb(22, 171, 81);
    color: #fff;
} */

@media screen and (max-width: 960px) {
    .login {
        width: 90%;
        min-width: 300px;
    }
}