.login__fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.15rem;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 40%;
  min-width: 300px;
  margin: auto;
  /* margin-top: 150px; */
  padding: 1.2rem;
  color: #000000;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.login__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login__container-title {
  font-size: 0.9rem;
  margin-top: 20px;
}

.login__container-text {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-size: 1.2rem;
  outline: none;
}

.login Button {
  margin: 10px auto;
}

.login__container-text {
  background-color: #fff !important;
  /* color: #a01313 !important; */
}

.login__container-text:-webkit-autofill {
  appearance: none;
  -webkit-text-fill-color: #000 !important;
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.login__password {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  cursor: pointer;
  color: #a01313;
  user-select: none;
}

.login__password:hover {
  color: rgb(3, 46, 46);
  text-decoration: underline;
}

.login__information {
  text-align: justify;
}

.forgot_password-accept {
  display: flex;
}

.login__high_information {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__high_information h1 {
  color: red;
}

.login__high_information span {
  font-size: 1.4rem;
}
