.percentage-department {
  /* width: 100%;
  padding: 5px 10px;*/
  height: 50%;
  margin: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.percentage-department__title__container {
  width: 90%;
  padding: 10px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage-department__select {
  flex-grow: 1;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.percentage-department Button {
  width: 30%;
  margin: 0px auto;
}

.percentage-department__container {
  padding: 5px;
  font-size: 1rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.percentage-department__container--info {
  flex-basis: 45%;
  min-width: 120px;
  padding: 5px 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage-department__container--text {
  user-select: none;
  flex-grow: 1;
}

.percentage-department__container--number {
  width: 30%;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
.percentage-department__title__container-number {
  width: 4rem;
  height: 1.5rem;
  margin-left: 10px;
  padding-left: 10px;
  text-align: center;
}
.percentage-department__title__container-actions--select {
  width: 4rem;
  height: 2rem;
  margin-left: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 1.2rem;
}
