.please-wait {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  font-family: "Source Sans 3", Calibri, sans-serif;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
