.quick_table_note {
    flex-grow: 1;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    /* background-color: aqua; */
}

.quick_table_note__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.quick_table_note__container-title {
    padding: 5px;
    display: flex;
}

.quick_table_note__container-title--document {
    padding: 5px 10px;
}

.quick_table_note__container-edit {
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    /* box-shadow: 2px 2px 2px 2px rgb(106, 132, 134); */
}

.quick_table_note__container-button {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quick_table_note__container-button--cancel,
.quick_table_note__container-button--confirm {
    padding: 5px 10px;
    margin: 5px auto;
    background-color: rgb(92, 201, 87);
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.quick_table_note__container-button--cancel {
    background-color: rgb(247, 65, 65);
}

.quick_table_note__container-button--cancel:active,
.quick_table_note__container-button--confirm:active {
    background-color: rgb(63, 146, 214);
    color: #fff;
    box-shadow: none;
}

@media screen and (max-width: 960px) {}