.quick_table_note {
    flex-grow: 1;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* background-color: aqua; */
}

.quick_table_note__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    /* border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134); */
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: #e2f4f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.quick_table_note__container-title {
    padding: 5px;
    display: flex;
    align-items: center;
}

.quick_table_note__container-title--document {
    padding: 5px 10px;
}

.quick_table_note__container-edit {
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid black;
}

.quick_table_note__container-button {
    margin: 5px;
    /* padding: 5px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.quick_table_note__container-button--cancel {
    background-color: rgb(247, 65, 65);
}

.quick_table_note__container-button--cancel:active,
.quick_table_note__container-button--confirm:active {
    background-color: rgb(63, 146, 214);
    color: #fff;
    box-shadow: none;
}

@media screen and (max-width: 960px) {}