.raport {
    flex-grow: 1;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

}

.raport-date {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    min-width: 800px;
    margin-left: 0 auto;
}

.raport td {
    cursor: pointer;
}

.raport-save-settings {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 5;
    font-size: 2rem;
    cursor: pointer;
}

.raport-save-settings:active {
    color: red;
}

.raport-date-select {
    font-size: 1.3rem;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
}