.system_settings {
  position: relative;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  overflow: hidden;
}
.system_settings_items {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.system_settings-wrapper {
  flex-grow: 1;
  /* background-color: rgb(205, 255, 238); */
  display: flex;
  justify-content: space-evenly;
}

.system_settings__container {
  flex-grow: 1;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.system_settings--bloc-tabs {
  display: flex;
  min-width: 300px;
}

.system_settings--bloc-tabs button {
  border: none;
  padding: 10px 0;
  margin: 0px 80px;
}

.system_settings_section-content {
  max-height: 85vh;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-around;
}

.system_settings_section-content-data {
  flex-basis: 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
}
