.actual_table {
    flex-grow: 1;
    width: 100vw;
    overflow-x: auto;
}


.actual_table td {
    cursor: pointer;
}

.table-icons-panel {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 6;
    font-size: 2rem;
    display: flex;
}

.table-save-settings,
.table-export-excel {
    margin: 0 20px;
    cursor: pointer;
}

.table-export-excel {
    color: #018f25;
}

.table-save-settings:active,
.table-get-excel:active {
    color: red;
}

/* .MuiButtonBase-root.MuiTableSortLabel-root.Mui-active css-118d58w-MuiButtonBase-root-MuiTableSortLabel-root */
/* .MuiButtonBase-root.MuiTableSortLabel-root.Mui-active {
    display: none;
} */

/* ikona w headerze od przesuwania kolumn */
.Mui-TableHeadCell-Content-Actions.MuiBox-root.css-epvm6 {
    display: none;
}

/* wyśrodkowanie tekstu w headerze */
/* .Mui-TableHeadCell-Content.MuiBox-root.css-c8wlay,
.Mui-TableHeadCell-Content.MuiBox-root.css-c8wlay {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* usunięcie filtra strzałki w headerze */
/* .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiTableSortLabel-icon.MuiTableSortLabel-iconDirectionAsc.css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon {
    display: none;
} */

/* .Mui-TableHeadCell-ResizeHandle-Wrapper {
    padding: 10px;
} */

/* .MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader,
.css-1m1ml0w {
    padding: 10px 0;
} */

/* suwak do przesuwania kolumn */
/* .Mui-TableHeadCell-ResizeHandle-Wrapper.MuiBox-root.css-1m1ml0w {
    margin-right: -5px;
} */


/* .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd.css-1rrfrxi,
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd.css-953pxc-MuiInputBase-root-MuiInput-root {
    font-size: 1rem;
} */

/* .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd.css-1rrfrxi {
    font-size: .8rem;
} */

/* .Mui-TableHeadCell-Content.MuiBox-root.css-c8wlay {
    text-align: center;
} */


/* wielkośc filtra lejek */
/* .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
} */

/* .MuiTouchRipple-root.css-w0pj6f {
    font-size: 2rem;
} */

/* MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd css-953pxc-MuiInputBase-root-MuiInput-root */