.table_settings {
  position: relative;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  overflow: hidden;
}
.table_settings_items {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.table_settings-wrapper {
  flex-grow: 1;
  /* background-color: rgb(205, 255, 238); */
  display: flex;
  justify-content: space-evenly;
}

.table_settings__container {
  flex-grow: 1;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.table_settings--bloc-tabs {
  display: flex;
  min-width: 300px;
}

.table_settings--bloc-tabs button {
  border: none;
  padding: 10px 0;
  margin: 0px 80px;
}

.table_settings_section-content {
  max-height: 85vh;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-around;
}

.table_settings_section-content-data {
  flex-basis: 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.table_settings-table,
.table_settings-raport {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  align-items: center;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.table_settings-table--title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table_settings-table--name {
  background-color: #a7d3f7;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.table_settings-table--save {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(61, 87, 202);
}

.table_settings-table--save:active {
  color: red;
}

.table_settings-table__container {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table_settings-table__columns {
  flex-grow: 1;
  width: 100%;
  margin: 15px;
  padding: 10px;
  background-color: #a7d3f7;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.columns-item {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.columns-item-header,
.columns-item-choice {
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns-item-header {
  flex-basis: 30%;
  flex-grow: 0;
}

.item-choice {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: blue;
}

@media screen and (max-width: 960px) {
  .table_settings {
    overflow-y: auto;
  }

  .table_settings {
    flex-direction: column;
  }

  .table_settings-table,
  .table_settings-raport {
    font-size: 0.7rem;
  }

  .table_settings-table__container {
    margin: 5px 0;
    padding: 5px 0;
  }

  .columns-item-header,
  .columns-item-choice {
    min-width: 50px;
  }

  .item-choice {
    font-size: 0.7rem;
  }
}
