.actual_table {
    flex-grow: 1;
    width: 100vw;
    overflow-x: auto;
}

.actual_table td {
    cursor: pointer;
}

.table-icons-panel {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 6;
    font-size: 2rem;
    display: flex;
}

.table-save-settings,
.table-export-excel {
    margin: 0 20px;
    cursor: pointer;
}

.table-export-excel {
    color: #018f25;
}

.table-save-settings:active,
.table-export-excel:active {
    color: red;
}