.table_settings {
  max-height: 88vh;
  flex-grow: 1;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  display: flex;

}

.table_settings-table {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.table_settings-table--title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table_settings-table--name {
  /* background-color: #a7d3f7; */
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
}

.table_settings-table--save {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(61, 87, 202);
}

.table_settings-table--save:active {
  color: red;
}

.table_settings-table__container {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table_settings-table__columns {
  flex-grow: 1;
  width: 100%;
  margin: 15px;
  padding: 10px;
  /* background-color: #a7d3f7; */
  background-color: #ececec;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.table_settings-table__columns-item {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
}

.table_settings-table__columns-item-header,
.table_settings-table__columns-item-choice {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 40%;
  background-color: #fff;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_settings-table__columns-item-header {
  flex-basis: 30%;
  flex-grow: 0;
}

.table_settings-table__columns-item-choice {
  /* display: block; */
  /* border: none; */
  /* width: 100%; */
  flex-basis: 60%;
  /* height: 100%; */
  font-size: 1.2rem;
  color: blue;
}

.table_settings-table__columns-item-choice--select {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  color: blue;
}