.update-data {
    flex-grow: 1;
    max-width: 60%;
    font-family: "Source Sans 3", Calibri, sans-serif;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
}

.update-data__container {
    flex-grow: 1;
    min-width: 600px;
    margin: 2px 0;
    border: 1px solid rgba(191, 196, 199, 0.6);
    background-color: rgba(202, 219, 230, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.update-data__container:first-child {
    background-color: rgba(193, 230, 255, 0.3);
}

.update-data--info {
    flex-basis: 15%;
    padding: 5px;
    padding: 10px;
    margin: 0 10px;
    white-space: nowrap;
}

.update-data--info:first-child,
.update-data--info:last-child {
    min-width: 150px;
    flex-basis: 35%;

}