.user_change_departments {
  /* flex-grow: 1; */
  width: 100%;
  padding: 5px 10px;
  margin: 2px 0;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user_change_departments__title {
  width: 90%;
  padding: 10px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user_change_departments__select {
  flex-grow: 1;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user_change_departments Button {
  width: 30%;
  margin: 0px auto;
}

.user_change_departments__container {
  padding: 5px;
  font-size: 1rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user_change_departments__container--info {
  flex-basis: 40%;
  min-width: 120px;
  padding: 5px 5px;
  margin: 2px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
}

.user_change_departments__container--text {
  user-select: none;
}

.user_change_departments__container--check {
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 960px) {
  .user_change_departments {
    padding: 5px;
  }

  .user_change_departments__container {
    /* padding: 10px 5px; */
    font-size: 0.9rem;
  }
}
