.user_delete {
  width: 100%;
  margin: 2px 0;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user_delete__title {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_delete__title--name {
  text-align: center;
}

.user_delete__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user_delete__container--edit {
  display: block;
  width: 80%;
  font-size: 1rem;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.user_delete Button {
  width: 50%;
  margin: 5px auto;
}

.user_delete__confirm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user_delete__confirm--cancel,
.user_delete__confirm--confirm {
  flex-basis: 30%;
  cursor: pointer;
}

.user_delete__confirm--confirm {
  flex-basis: 40%;
}

@media screen and (max-width: 960px) {
  .user_delete__container--edit {
    width: 100%;
  }
}
