.user_change_pass {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user_change_pass__title {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_change_pass__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user_change_pass__container--edit {
    display: block;
    width: 80%;
    font-size: 1rem;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    border-radius: 5px;
    border: none;
}

.user_change_pass--button {
    padding: 5px 10px;
    margin: 5px auto;
    background-color: rgb(92, 201, 87);
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgb(106, 132, 134);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.user_change_pass--button:active {
    background-color: rgb(63, 146, 214);
    color: #fff;
    box-shadow: none;
}

@media screen and (max-width: 960px) {
    .user_change_pass__container--edit {
        width: 100%;
    }
}