.generate_areas {
  border: 1px solid black;
  border-top: none;
  display: flex;
  align-items: center;
  user-select: none;
}

.generate_areas label {
  min-width: 100px;
  font-size: 1.2rem;
  height: 100%;
  flex-basis: 15%;
  text-align: center;
  padding: 3px;
  background-color: #e5fce3;
  border-right: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate_areas:hover label {
  background-color: rgba(94, 94, 94, 0.3);
  color: red;
}

.generate_areas label:hover {
  background-color: rgba(94, 94, 94, 0.2);
}

.generate_areas .generate_areas--select {
  min-width: 500px;
  padding-left: 25px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.generate_areas--arrow {
  color: rgb(73, 42, 209);
  margin-right: 5px;
  font-size: 1.5rem;
}

.generate_areas .generate_areas--select--car {
  padding-left: 40px;
}

.generate_areas .generate_areas--percent {
  border: none;
}
