.edit-row-table {
  flex-grow: 1;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  /* overflow: auto; */
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table__container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-row-table__panel {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* .edit-row-table--bloc-tabs {
  flex-basis: 50%;

  display: flex;
  justify-content: space-evenly;
} */

.edit_row_table-buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}

/* .tabs {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
  background-color: #c2c2c2;
  cursor: pointer;
  border-bottom: 10px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
} */

/* .tabs:not(:last-child) {
  border-right: 1px solid rgba(106, 104, 104, 0.274);
} */

/* .active-tabs {
  background: rgb(188, 201, 255);
  border-bottom: 1px solid transparent;
} */

/* .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
} */

/* .edit-row-table--bloc-tabs button {
  border: none;
  padding: 10px 0;
  margin: 0px 20px;
} */

/* .content-tabs {
  flex-grow: 1;
  display: flex;
}

.content {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}*/

/* .active-content {
  display: flex;
}  */

.edit-row-table_section-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.edit-row-table_section-content-data {
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 450px;
  min-height: 500px;
  /* max-height: calc(100vh - 100px); */
  padding: 2px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  justify-content: space-between;

}

.edit_doc {
  /* flex-grow: 1; */
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.15rem;
  font-optical-sizing: auto;
  font-style: 700;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.edit_doc__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit_doc--title {
  flex-shrink: 0;
  width: 100%;
  flex-basis: 40%;
  text-align: left;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  background-color: rgba(220, 241, 253, 0.2);
  display: flex;
  align-items: center;
  cursor: help;
}

.edit_doc--content,
.edit_doc--content-scroll {
  width: 100%;
  line-height: 1;
  flex-basis: 59%;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_doc--content-scroll {
  display: block;
  padding: 5px;
  overflow-y: auto;
  max-height: 90px;
}

.edit_doc--select {
  width: 100%;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.edit_doc--button {
  margin-top: 10px;
}

.edit_doc--button Button {
  width: 100%;
  background-color: rgba(58, 247, 58, 0.2);
  color: black;
  /* margin-bottom: 10px; */

}