.table {
  flex-grow: 1;
  width: 100vw;
  overflow-x: auto;
}

.table td {
  cursor: pointer;
}

.table-save-settings,
.table-export-excel,
.table_fa-filter {
  font-size: 1.5rem;
  cursor: pointer;
}

.table-save-settings {
  color: #1e201e;
  font-size: 1.6rem;
}

.table-export-excel {
  color: #018f25;
  font-size: 1.6rem;
}

.table-save-settings:active,
.table-export-excel:active,
.table_fa-filter:active {
  color: red;
}

.table-save-settings:hover,
.table-export-excel:hover,
.table_fa-filter:hover {
  color: rgb(189, 29, 204);
}
