.edit-row-table-law-partner {
  flex-grow: 1;
  padding: 2px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  z-index: 5;
  background-color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.edit-row-table-law-partner__container {
  flex-grow: 1;
  display: flex;
}
