.law_partner_basic-data {
  flex-grow: 1;
  height: calc(100vh - 120px);
  /* max-height: calc(100vh - 120px); */
}

.edit_doc--content_law_partner {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  /* line-height: 1; */
  display: flex;
  justify-content: center;
}
.content_law_partner--content {
  display: flex;
  flex-direction: column;
}
.content_law_partner--content span {
  border: none;
}

.law_partner_basic_data_settlements {
  flex-grow: 1;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.law_partner_basic_data_settlements--title {
  text-align: center;
  padding: 2px 0;
}
.law_partner_basic_data_settlements_container {
  flex-grow: 1;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
}
