.change_org_str {
  user-select: none;
  background-color: rgba(224, 224, 224, 0.4);
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.change_org_str__title {
  width: 100%;
  font-size: 1.35rem;
  font-weight: 500;
  padding: 10px;
  background-color: #fff;
  display: flex;
}

.change_org_str__title--company {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change_org_str__title--info {
  flex-grow: 1;
  text-align: center;
}

.change_org_str__container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.change_org_str__container-item {
  min-width: 1200px;
  padding: 5px 5px;
  margin: 2px 0;
  text-align: center;
  border: 1px solid rgba(191, 196, 199, 0.6);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.change_org_str__container-item--title {
  font-weight: bold;
}

.change_org_str__container-array {
  /* flex-grow: 1; */
  /* max-width: 100%; */
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
}

.change_org_str__container-item__array {
  border: 1px solid rgba(44, 123, 168, 0.6);
}

.change_org_str__container-item__array:hover {
  background-color: rgb(247, 247, 247);
}

.change_org_str__highlight-yellow {
  background-color: rgba(255, 255, 0, 0.3);
}

.change_org_str__container-array::-webkit-scrollbar {
  width: 15px;
  /* <- tutaj ustawiasz szerokość suwaka */
}

.change_org_str__container-array::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.change_org_str__container-array::-webkit-scrollbar-track {
  background: transparent;
}

.change_org_str-counter {
  flex-basis: 3%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change_org_str-department {
  flex-basis: 10%;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change_org_str-department__container {
  /* width: 100%; */
  flex-basis: 20%;

  min-width: 50%;
  padding: 5px 10px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change_org_str-span {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin: 2px 10px;
  background-color: #fff;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.change_org_str-localization,
.change_org_str-area {
  flex-basis: 20%;
  min-width: 150px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change_org_str-owner_guard__container {
  flex-grow: 1;
  flex-basis: 20%;
  padding: 5px 10px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change_org_str-owner,
.change_org_str-guardian {
  width: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.change_org_str-scroll {
  width: 15px;
}

.change_org_str__edit {
  flex-grow: 1;
  /* background-color: rgb(243, 242, 242); */
  background-color: rgb(247, 247, 247);
  border: 2px solid rgb(150, 38, 126);
  border-radius: 5px;
  margin: 2px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change_org_str__edit_panel {
  width: 100%;
  display: flex;
  align-items: center;
}

.change_org_str__container__edit_accept {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change_org_str__container__edit_accept Button {
  margin: 0 50px;
  width: 150px;
}

.change_org_str--many {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change_org_str_settings-select {
  width: 90%;
  margin: 5px;
  padding: 7px 2px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(23, 67, 150);
}

.change_org_str--icon {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
