.dept_mapper_settings-select {
    width: 95%;
    font-size: 1rem;
    padding: 10px 5px;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 92, 145, 0.6);
    border-radius: 5px;
    outline: none;
    text-align: center;
}