.missing_department {
    flex-grow: 1;
    width: 100%;
    padding: 5px;
    margin: 4px;
    font-family: "Source Sans 3", Calibri, sans-serif;
    border: 1px solid rgba(191, 196, 199, 0.6);
    border-radius: 5px;
    background-color: #eafff2;
    display: flex;
    justify-content: flex-start;
}

.missing_department__wrapper {
    max-width: 20%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.missing_department__container {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.missing_department__company--title,
.missing_department__company--exist,
.missing_department__company--noexist {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.missing_department__company {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.missing_department__container {
    text-align: center;
}