.item_component {
  flex-grow: 1;
  position: relative;
  width: 34%;
  max-height: 90vh;
  min-width: 500px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  background-color: #fff;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.item_component-title__container {
  display: flex;
  align-items: center;
}

.item_component--counter {
  flex-basis: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.item_component--title {
  flex-grow: 1;
  color: rgb(25, 60, 255);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item_component--title span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_component--title select {
  flex-basis: 20%;
}

.item_component--title select:focus {
  outline: none;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
}

.item_component--counter-info {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  border-radius: 50%;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_component--choice {
  flex-basis: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item_component--title--fa-plus {
  font-size: 1.5rem;
  cursor: pointer;
}

.item_component--title--fa-plus:active {
  color: red;
}

.item_component-items__container {
  flex-grow: 1;
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.item_component-items__columns {
  min-width: 250px;
  text-align: center;
  padding: 4px;
  margin: 2px;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  user-select: none;
}

.item_component-items__columns--counter {
  margin: 0 5px;
  flex-basis: 8%;
}

.item_component-items__columns--item {
  flex-grow: 1;
}

.item_component-items__columns--company {
  flex-basis: 15%;
}

.item_component-items__columns--panel {
  flex-basis: 15%;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item_component--fa-pen-to-square {
  color: rgb(92, 133, 32);
}

.item_component--fa-trash-can {
  color: blueviolet;
}

.item_component--fa-pen-to-square:active,
.item_component--fa-trash-can:active {
  color: red;
}

.item_component-title__container-add {
  width: 100%;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item_component-title__container-data {
  flex-grow: 1;
  width: 90%;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

.item_component-title__container-data--text {
  flex-grow: 1;
  font-size: 1rem;
  padding: 5px;
  margin: 2px 10px;
  border: none;
  outline: none;
  text-align: center;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  outline: none;
}

.item_component-title__container-add--edit {
  flex-grow: 1;
  width: 100%;
  padding: 5px;
  margin: 0px 10px;
  border: none;
  outline: none;
  text-align: center;
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  outline: none;
}

.item_component-title__container-add--panel {
  flex-grow: 1;
  margin: 2px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
