.table_columns {
    flex-grow: 1;
    max-height: 87vh;
    /* width: 100%; */
    /* height: 100%; */
    margin: 0 5px;
    font-family: "Source Sans 3", Calibri, sans-serif;
    font-size: 1.2rem;
    display: flex;
    /* overflow: auto; */
}

.table_columns-table {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    align-items: center;
    /* margin: 5px; */
    /* padding: 5px; */
    border: 1px solid rgba(0, 92, 145, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.table_columns-table--title {
    font-size: 1.3rem;
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table_columns-table--name {
    /* background-color: #a7d3f7; */
    margin: 10px;
    padding: 10px;
    /* border: 1px solid rgba(0, 92, 145, 0.6); */
    border-radius: 5px;
}

.table_columns-table--save {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(61, 87, 202);
}

.table_columns-table--save:active {
    color: red;
}

.table_columns-table__container {
    flex-grow: 1;
    overflow-y: scroll;
    /* margin: 10px 0; */
    /* padding: 10px 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table_columns-table__columns {
    flex-grow: 1;
    width: 100%;
    margin: 2px 5px;
    padding: 2px;
    /* background-color: #a7d3f7; */
    background-color: #ececec;
    border: 1px solid rgba(0, 92, 145, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.table_columns-table__columns-item {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
}

.table_columns-table__columns-item-header,
.table_columns-table__columns-item-choice {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 40%;
    background-color: #fff;
    border: 1px solid rgba(0, 92, 145, 0.6);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_columns-table__columns-item-header {
    flex-basis: 20%;
    flex-grow: 0;
}

.table_columns-table__columns-item-choice {
    /* display: block; */
    /* border: none; */
    /* width: 100%; */
    flex-basis: 60%;
    /* height: 100%; */
    font-size: 1.2rem;
    color: blue;
}

.table_columns-table__columns-item-choice--select {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    text-align: center;
    color: blue;
}