.fk_data_settings {
  flex-grow: 1;
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fk_data_settings__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px;
}

.fk_data_settings__container {
  width: 100%;
  margin: 5px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.fk_data_settings__container-item {
  padding: 10px;
  margin: 4px 0;
  text-align: center;
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.fk_data_settings__container-item:first-child {
  font-weight: bold;
}

.fk_data_settings__container-item span {
  flex-basis: 40%;
}
.fk_add_data-error {
  width: 100%;
  margin: 0 auto;
  color: red;
  font-size: 1.2rem;
}
