.fk_data_settings {
  flex-grow: 1;
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(195, 255, 235);
  overflow: hidden;
}

.fk_data_settings__title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.fk_data_settings__container {
  flex-grow: 1;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.fk_data_settings__container-item {
  flex-grow: 1;
  padding: 10px;
  margin: 4px 0;
  text-align: center;
  font-weight: bold;

  border: 1px solid black;
  background-color: #fff;
  align-items: center;
  display: flex;
}

/* .fk_data_settings__container-item:first-child {
  font-weight: bold;
} */

.fk_data_settings__container-array {
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
}

.fk_data_settings-counter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fk_data_settings--fa-save {
  margin-top: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.fk_data_settings--fa-save:active {
  color: red;
}

.fk_data_settings-counter {
  flex-basis: 5%;
}

.fk_data_settings-department {
  flex-basis: 15%;
}
.fk_data_settings-localization,
.fk_data_settings-area {
  flex-basis: 18%;
  margin: 0 10px;
}

.fk_data_settings-owner,
.fk_data_settings-guardian {
  flex-basis: 22%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.fk_data_settings-owner-many {
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fk_data_settings-owner__container {
  width: 100%;
}
.fk_data_settings--fa-plus,
.fk_data_settings--fa-minus {
  margin-left: 4px;
  font-size: 1.4rem;
  cursor: pointer;
}
.fk_data_settings--fa-plus:hover,
.fk_data_settings--fa-minus:hover {
  color: rgb(255, 0, 0);
}
/* .fk_data_settings {
  flex-grow: 1;
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(195, 255, 235);
}

.fk_data_settings__title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.fk_data_settings__container {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.fk_data_settings__container-item {
  flex-grow: 1;
  padding: 10px;
  margin: 4px 0;
  text-align: center;
  border: 1px solid black;
  background-color: #fff;
  align-items: center;
  display: flex;
}

.fk_data_settings__container-item:first-child {
  font-weight: bold;
}

.fk_data_settings-counter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fk_data_settings--fa-save {
  margin-top: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.fk_data_settings--fa-save:active {
  color: red;
}

.fk_data_settings-counter {
  flex-basis: 5%;
}

.fk_data_settings-department {
  flex-basis: 15%;
}
.fk_data_settings-localization,
.fk_data_settings-area {
  flex-basis: 18%;
  margin: 0 10px;
}

.fk_data_settings-owner,
.fk_data_settings-guardian {
  flex-basis: 22%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.fk_data_settings-owner-many {
  width: 100%;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fk_data_settings-owner__container {
  width: 100%;
}
.fk_data_settings--fa-plus,
.fk_data_settings--fa-minus {
  margin-left: 4px;
  font-size: 1.4rem;
  cursor: pointer;
}
.fk_data_settings--fa-plus:hover,
.fk_data_settings--fa-minus:hover {
  color: rgb(255, 0, 0);
} */
