.fk_settings {
  font-family: Calibri, sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fk_settings-container-panel {
  font-size: 1.2rem;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fk_settings-container-info {
  margin: 0 20px;
}

.fk_settings-container-info--text {
  margin: 0 20px;
}

.fk_settings-container-info--text span {
  font-weight: bold;
  margin: 0 5px;
  color: blue;
}

.fk_settings-container {
  flex-grow: 1;
  display: flex;
}

.fk_settings-container-select {
  border: 1px solid black;
  padding: 10px;
  margin: 0 10px;
}

.fk_settings-container-generate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .fk_settings {
    display: none;
  }
}
