.fk_table {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
}

/* .fk_table-exit {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 5;
} */

.fk-table-save-settings,
.fk-table-export-excel {
  font-size: 2rem;
  cursor: pointer;
  margin: 0 20px;
}

.fk-table-export-excel {
  color: green;
}

.fk-table-save-settings:active,
.fk-table-export-excel:active {
  color: red;
}

.fk-table__container--excel {
  background-color: transparent;
  border: none;
}
