.fk_table {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
}

/* .fk_table-exit {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 5;
} */
