.documents_control {
    flex-grow: 1;
    display: flex;
}

.documents_control-chat--content,
.documents_control-chat--edit {
    height: 100px;
    max-height: 100px;
    resize: none;
    padding: 5px;
    font-family: "Source Sans 3", Calibri, sans-serif;
    font-size: 1.05rem;
    border: 1px solid rgba(44, 123, 168, 0.6);
    border-radius: 5px;
    margin: 2px 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.documents_control-chat--edit {
    height: 70px;
    margin: 3px 0 5px 0;
}