.edit_data_management-chat {
    margin-top: 20px;
}

.edit_data_management--title {
    /* background-color: rgba(255, 127, 170, 0.288); */
    background-color: rgba(135, 253, 88, 0.2);

}

.edit_data_management--content {
    height: 150px;
}