.edit-doc-chat {
  margin-bottom: 10px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  font-optical-sizing: auto;
  font-style: 700;
  display: flex;
  flex-direction: column;
}

.edit-doc-chat--title {
  font-size: 1.05rem;
  /* border: 1px solid rgba(191, 196, 199, 0.6); */
  border: 1px solid rgba(0, 92, 145, 0.6);
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  background-color: rgba(135, 253, 88, 0.2);
}

.edit-doc-chat--content,
.edit-doc-chat--edit {
  height: 250px;
  max-height: 250px;
  resize: none;
  /* font-size: 1.2rem; */
  padding: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.05rem;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  margin: 2px 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.edit-doc-chat--edit {
  height: 80px;
  margin: 3px 0 5px 0;
}

.edit-doc-chat__panel {
  display: flex;
  justify-content: space-evenly;
}