.edit-row-table {
  flex-grow: 1;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  z-index: 5;
  background-color: #fff;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.edit-row-table__container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.edit-row-table__content-section {
  flex-grow: 1;
  display: flex;
}

.edit-row-table__content {
  margin: 0 auto;
  width: 100%;
  display: none;
}

.edit-row-table__active-content {
  display: block;
}

.edit-row-table__panel {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.edit_row_table-buttons {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit_row_table-icon_buttons {
  color: rgb(32, 90, 175);
  transform: scale(1.8);
  cursor: pointer;
}

.edit_row_table-icon_buttons:hover {
  color: red;
  transform: scale(2.1);
}

.edit_row_table-icon_buttons--disable {
  color: rgba(0, 0, 0, 0.2);
}

.edit-row-table_section-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.edit-row-table_section-content-data {
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 500px;
  min-height: 500px;
  padding: 2px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.edit_doc {
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.15rem;
  font-optical-sizing: auto;
  font-style: 700;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.edit_doc__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit_doc--title {
  flex-shrink: 0;
  width: 100%;
  flex-basis: 40%;
  text-align: left;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 1px;
  margin: 1px 2px;
  padding-left: 5px;
  background-color: rgba(220, 241, 253, 0.2);
  display: flex;
  align-items: center;
  cursor: help;
}

.edit_doc--title__read-only {
  background-color: rgba(252, 220, 253, 0.8);
}

.edit_doc--content,
.edit_doc--content-scroll {
  width: 100%;
  word-break: break-all;
  line-height: 1;
  flex-basis: 59%;
  text-align: center;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  padding: 2px;
  margin: 1px 2px;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_doc--content-scroll {
  display: block;
  padding: 5px;
  overflow-y: auto;
  max-height: 90px;
}

.edit_doc--select {
  width: 100%;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.edit_doc--button {
  margin-top: 5px;
  display: flex;
}

.edit_doc--button Button {
  width: 100%;
  margin: 0 5px;
  background-color: rgba(58, 247, 58, 0.5);
  color: black;
}

.edit-row-table__change-panel {
  display: flex;
  justify-content: space-around;
}

.edit-row-table__change-panel Button {
  width: 100%;
  margin: 5px 10px;
}
