.quick_table_note {
  flex-grow: 1;
  position: absolute;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.05rem;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.quick_table_note__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  background-color: #bfe2ff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.quick_table_note__container-title {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.quick_table_note__container-title--document {
  padding: 5px 10px;
}

.quick_table_note__container-edit {
  margin: 5px;
  padding: 5px;
  font-family: "Source Sans 3", Calibri, sans-serif;
  font-size: 1.1rem;
  border: 1px solid rgba(44, 123, 168, 0.6);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.quick_table_note__container-button {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}