.App {
  flex-grow: 1;
  font-family: "Source Sans 3", Calibri, sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.bloc-tabs {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabs {
  padding: 5px;
  padding: 10px 0;
  text-align: center;
  width: 100px;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(213, 232, 248);
  box-shadow: 4px 4px 2px 0 rgba(224, 224, 224, 0.548),
    2px 2px 2px 0 rgba(173, 180, 189, 0.5),
    inset -4px -4px 6px 0 rgba(173, 180, 189, 0.5),
    inset 4px 4px 6px 0 rgba(197, 197, 197, 0.4);
}

.active-tabs {
  background-color: #007bff;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    2px 2px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}

.content {
  margin: 0 auto;
  width: 100%;
  display: none;
}

.active-content {
  display: block;
}

.user-error-message {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba(255, 154, 196, 0.5);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}
