.contacts {
    flex-grow: 1;
    margin: 0px auto;
    width: 100%;
    overflow-y: auto;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-search {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-search-text {
    width: 50%;
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
}

.contacts__container {
    width: 50%;
    background-color: #d7fcae;
    margin: 20px;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contacts__container--item {
    width: 100%;
    flex-grow: 1;
    padding: 5px;
    display: flex;
}

.contacts__title {
    width: 15%;
    flex-shrink: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.contacts-context {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts__settings {
    width: 10%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contacts__container--edit {
    font-size: 2.5rem;
    margin-left: auto;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.contacts__container--name {
    width: 90%;
    text-align: center;
    margin: 5px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__container--text {
    flex-grow: 1;
    width: 90%;
    text-align: center;
    padding: 10px 5px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__settings--checkbox {
    height: 1.4rem;
    width: 1.4rem;
    box-shadow: 2px 2px 2px 2px rgb(106, 132, 134);
}

@media screen and (max-width: 960px) {

    .contacts-search-text {
        width: 90%;
        font-size: 1rem;

    }

    .contacts__container {
        width: 90%;
        margin: 10px;
        font-size: 1rem;
    }

    .contacts__container--edit {
        font-size: 2rem;
    }

    .contacts__container--name {
        width: 100%;
        padding: 10px;
        font-size: .8rem;

    }

    .contacts__container--text {
        font-size: .8rem;
    }

    .contacts__settings--checkbox {
        height: 1rem;
        width: 1rem;
    }
}