.aging_owners {
    border: 1px solid black;
    border-top: none;
    display: flex;
    align-items: center;
    user-select: none;
}

.aging_owners label {
    min-width: 100px;
    font-size: 1.2rem;
    height: 100%;
    flex-basis: 15%;
    text-align: center;
    padding: 3px;
    background-color: #ffffff;
    border-right: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aging_owners label:hover {
    background-color: rgba(0, 255, 255, .5);
}


.aging_owners .aging_owners--select {
    min-width: 500px;
    padding-left: 90px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.aging_owners--arrow {
    color: rgb(255, 0, 0);
    margin-right: 5px;
    font-size: 1.5rem;
}

.aging_owners .aging_owners--select--car {
    padding-left: 110px;
}

.aging_owners--car-arrow {
    margin: 0 10px 0 65px;
}

.aging_owners .aging_owners--percent {
    border: none;
}