.aging_component {
    border: 1px solid black;
    border-top: none;
    display: flex;
    align-items: center;
    user-select: none;
}

.aging_component label {
    min-width: 100px;
    font-size: 1.2rem;
    height: 100%;
    flex-basis: 15%;
    text-align: center;
    padding: 3px;
    background-color: #ffffff;
    border-right: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aging_component label:hover {
    background-color: rgba(0, 255, 255, .5);
}

.aging_component .aging_component--select {
    min-width: 500px;
    padding-left: 25px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.aging_component--arrow {
    color: rgb(255, 0, 0);
    margin-right: 5px;
    font-size: 1.5rem;
}

.aging_component .aging_component--select--car {
    padding-left: 40px;
}

.aging_component .aging_component--percent {
    border: none;
}